.alert {
  margin: 32px 0px;
}

.loginButton {
    min-width: 275px;
    width: 100%;
    display: block;
}

.mailInput {
    min-width: 275px;
}

@media (min-width: 600px) {
    .loginButton {
        width: fit-content;
    }
}
