.formContainer {
  padding: 48px;
}

.formContainer h2 {
  font-size: 28px;
  color: #51519C;
  margin-top: 64px;
}

.eligibilityInput {
  margin-bottom: 16px;
  width: 100%;
}

.eligibilityMessage {
  font-size: 12px;
    p {
      font-size: 12px;
    }
  &_valid {
    color: #18753c;
  }
  &_error {
    color: #ce0500;
  }
}

.text {
  align-self: flex-end;
  padding-bottom: 8px;
}

.borderedList {
  border-radius: 36px;
  border: 1px solid #000091;
  padding: 32px 64px;
}

.borderedList .noButton {
  padding-top: 12px;
}

.borderedList button,
.borderedList button:hover {
  color: #000091;
  box-shadow: none;
  cursor: pointer;
  background-color: white;
  padding-bottom: 0px;
}

.borderedList a::after {
  display: none;
}

.searchSchoolSection {
  margin-top: 16px;
  display: flex;
}

.searchIcon {
  font-size: 24px;
  margin: 8px;
}

.searchbar {
  width: 481px;
}

.holdingHandIcon {
  position: absolute;
  right: 10%;
}

.podcastSection {
  display: flex;
  align-items: center;
}

.podcastSection img {
  margin-top: -16px;
}

.podcastText {
  margin: 24px;
}

.contactForm {
  width: 40%;
}

@media (max-width: 900px) {
  .formContainer {
    flex-direction: column;
  }

  .formContainer h2 {
    margin-top: 32px;
  }

  .borderedList {
    padding-right: 40px;
    padding-left: 56px;
  }

  .borderedList button {
    display: block;
    padding-left: 0px;
  }

  .searchbar {
    padding: 0px;
  }

  .searchIcon {
    display: none;
  }

  .text {
    align-self: flex-start;
    padding-bottom: 0px;
  }

  .holdingHandIcon {
    display: none;
  }

  .podcastSection {
    flex-direction: column;
  }

  .podcastSection img {
    margin-top: 48px;
  }
}