<div class="rf-mb-3w">
  <h2>Facturation</h2>
  <h3>
    Comment mes séances seront-elles remboursées ?
  </h3>
  <div class="rf-mb-2w">
    <p class="rf-mb-2w">
      À la fin de chaque mois, vous devez envoyer un email à l'université de conventionnement, contenant une facture des séances
      réalisées. L'université se chargera du remboursement, dans les 30 jours après la réception de cette facture.
    </p>
    <p class="rf-mb-1v">
      Besoin de plus d'informations ?
    </p>
    <a class="rf-btn rf-btn--secondary rf-mt-2w" href="/faq#remboursement">
      Consulter la Foire Aux Questions
    </a>
  </div>
  
  <h3>Les élements à apparaître sur votre facturation</h3>
  <% if (total.length) { %>
    <p class="rf-mb-2w">
      Le nom des patients est couvert par le secret médical, ne le communiquez pas sur la facture. Le nombre de patients suffit.
    </p>
    <div class="rf-table rf-mb-2w">
      <table>
          <caption>Tableau récapitulatif par mois</caption>
          <thead>
              <tr>
                  <td scope="col">Mois</th>
                  <th scope="col">Nombre de séances</th>
                  <th scope="col">Nombre de patients</th>
              </tr>
          </thead>
          <tbody>
            <% total.forEach(function(totalByMonth) { %>
              <tr>
                  <td><%= totalByMonth.month %> <%= totalByMonth.year %></td>
                  <td><%= totalByMonth.countAppointments %></td>
                  <td><%= totalByMonth.countPatients %></td>
              </tr>
          <% }) %>
          </tbody>
      </table>
    </div>
    <h3>
      Aide pour la facturation
    </h3>
    <p class="rf-mb-2w">
      Un doute sur le modèle de votre facture ? Vous pouvez prendre exemple sur ce modèle qui contient tous les éléments requis pour votre remboursement :
    </p>
    <p class="rf-mb-2w">  
      <a class="rf-btn rf-btn--secondary rf-mt-2w" href="/static/documents/modele-facturation-sante-psy-etudiant.pdf">
        <span class="rf-fi-file-download-line" aria-hidden="true"></span> .pdf
      </a>
      <a class="rf-btn rf-btn--secondary rf-mt-2w" href="/static/documents/modele-facturation-sante-psy-etudiant.docx">
        <span class="rf-fi-file-download-line" aria-hidden="true"></span> Microsoft Word .docx
      </a>
      <a class="rf-btn rf-btn--secondary rf-mt-2w" href="/static/documents/modele-facturation-sante-psy-etudiant.odt">
        <span class="rf-fi-file-download-line" aria-hidden="true"></span> Libre Office .odt
      </a>
    </p>
  <% } else { %>
    <p class="rf-mb-2w">
      Vous n'avez pas encore déclaré de séances, vous retrouverez ici votre récapitulatif de séances dans le but de créer vous même votre facture
    </p>
  <% } %>
</div>
