<% faq[section].forEach((entry, i) => { %>
    <li>
        <section class="fr-accordion">
            <h3 class="fr-accordion__title">
                <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-<%= `${section}${i}` %>"
                  aria-expanded="false">
                  <%= entry.question %>
                </button>
            </h3>
            <div class="fr-collapse" id="accordion-<%= `${section}${i}` %>">
                <div class="fr-accordion__inner">
                    <p class="fr-mb-1v"><%- entry.answer %></p>
                </div>
            </div>
        </section>
    </li>
<% }) %>