<li>
    <section class="fr-accordion">
        <h3 class="fr-accordion__title">
            <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-<%= id %>"
              aria-expanded="false">
              <%= question %>
            </button>
        </h3>
        <div class="fr-collapse" id="accordion-<%= id %>">
            <div class="fr-accordion__inner">
                <p class="fr-mb-1v"><%- response %></p>
            </div>
        </div>
    </section>
</li>