<!-- todo(estellecomment) : import min css and js -->
<script src="/static/gouvfr/js/all.js"></script>

<footer class="rf-footer" id="footer">
  <div class="rf-container">
    <div class="rf-footer__body">
      <div class="rf-footer__brand">
        <a class="rf-logo"
          href="/"
          title="République française">
          <span class="rf-logo__title">
            Ministère
            <br>de l'Enseignement
            <br>Supérieur,
            <br>de la Recherche
            <br>et de l'Innovation
          </span>
        </a>
      </div>
      <div class="rf-footer__content">
        <p class="rf-footer__content-desc">
            Le code source est ouvert et les contributions sont bienvenues.
            <a title="Voir le code source"
               href="<%= appRepo %>"
               target="_blank"
               rel="noopener"
               >Voir le code source</a>
        </p>
        <ul class="rf-footer__content-list">
          <li class="rf-footer__content-item">
            <a class="rf-footer__content-link"
               title="Contactez-nous"
               href="/mentions-legales">
              Contactez-nous
            </a>
          </li>
          <li class="rf-footer__content-item">
            <a class="rf-footer__content-link" href="https://www.etudiant.gouv.fr/">etudiant.gouv.fr</a>
          </li>
          <li class="rf-footer__content-item">
            <a class="rf-footer__content-link" href="https://www.enseignementsup-recherche.gouv.fr">Enseignement supérieur</a>
          </li>
          <li class="rf-footer__content-item">
            <a class="rf-footer__content-link" href="https://beta.gouv.fr/">beta.gouv.fr</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="rf-footer__bottom">
      <ul class="rf-footer__bottom-list">
        <li class="rf-footer__bottom-item">
          <a class="rf-footer__bottom-link" href="/mentions-legales#accessibilite">Accessibilité: non conforme</a>
        </li>
        <li class="rf-footer__bottom-item">
          <a class="rf-footer__bottom-link" href="/donnees-personnelles-et-gestion-des-cookies">Données personnelles et gestion des cookies</a>
        </li>
        <li class="rf-footer__bottom-item">
          <a class="rf-footer__bottom-link" href="/mentions-legales">Mentions légales</a>
        </li>
      </ul>
      <div class="rf-footer__bottom-copy">
        © République Française 2021
      </div>
    </div>
  </div>
</footer>

</body>
</html>
