<div id="<%= `error${index}` %>" class="fr-callout fr-fi-alert-line bg-orange-warning fr-mb-3w">
      <p class="fr-text--md fr-mb-1v"><%= error %></p>
      <span data-index="<%= index %>" data-type="error" class="fr-fi-close-line close-notification" />
</div>