<div id="<%= `info${index}` %>" class="fr-callout fr-fi-information-line fr-mb-3w">
  <p class="fr-text--md fr-mb-1v"><%= info %></p>
  <span data-index="<%= index %>" data-type="info" class="fr-fi-close-line close-notification" />
</div>
