{
  "presets": [
      [
          "@babel/preset-env",
          {
              "useBuiltIns": "entry",
              "corejs": 3
          }
      ],
      "@babel/preset-react"
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": false }],
    ["import", { "libraryName": "antd", "libraryDirectory": "es", "style": "css" }]
  ]
}
