.otherServicesContainer {
    margin: 48px 0px;
}

.otherServicesContainer h2 {
    margin-bottom: 56px;
}

.alert {
    margin: 32px 0px;
    width: fit-content;
}

.endFormButtons {
    box-shadow: none;
}