@import 'src/tooltip.scss';

.eligibilityForm {
    margin: 16px;
}

.purpleBackgroundText {
    background-color: #DCDCFF;
    border-radius: 16px;
    padding: 16px;
}

.optionWrapper {
    margin-left: 16px;
}
