version: '3'
services:
  db:
    image: postgres:12.5
    environment:
      POSTGRES_USER: santepsy
      POSTGRES_PASSWORD: santepsy
    ports:
      - "5432:5432"
  maildev:
    image: maildev/maildev
    environment:
      MAILDEV_INCOMING_USER: mailuser
      MAILDEV_INCOMING_PASS: mailpassword
    ports:
      - "1080:80"
      - "1025:25"
  web:
    build: .
    command: bash -c "echo 'starting sante-psy... - first npm install can be a bit long'; npm install; npm run migrate; npm run seed; npm run dev"
    env_file:
      - .env
    environment:
      DATABASE_URL: postgres://santepsy:santepsy@db:5432/santepsy
      SECURE: "false"
      ANNOUNCEMENT: "(Docker-compose variable) Pour déclarer vos séances, veuillez indiquer l'état de votre conventionnement ainsi que votre université de référence."
      SECRET_LOGS: "production_value_should_be_set_in_.env"
      SECRET: "production_value_should_be_set_in_.env"
      HOSTNAME_WITH_PROTOCOL: "http://localhost:3000"
      USE_CORS: "true"
      SPEED_LIMITATION: "false"
      TEST_ENVIRONMENT: "true"
    ports:
      - "8080:8080"
      - "9229:9229"
    volumes:
      - .:/app
    depends_on: # https://docs.docker.com/compose/startup-order/
      - db
    restart: # https://docs.docker.com/compose/compose-file/compose-file-v3/#restart
      always # trick to be sure our app is always up, even when it has started before PG 
  react: 
    image: node:14
    build: .
    working_dir: /app/frontend
    command: bash -c "npm install; npm run dev"
    ports:
      - "3000:3000"
    volumes:
      - .:/app