# Only start PG, build SQL tables and run tests
version: '3'
services:
  db:
    image: postgres:12.5
    environment:
      POSTGRES_USER: santepsy
      POSTGRES_PASSWORD: santepsy
    ports:
      - "5432:5432"
  web:
    build: .
    command: bash -c "sleep 3; npm run migrate; sleep 3; npm run test;"
    env_file:
      - .env
    environment:
      NPM_CONFIG_PREFIX: /home/node/.npm-global # https://github.com/nodejs/docker-node/blob/master/docs/BestPractices.md#global-npm-dependencies
      DATABASE_URL: postgres://santepsy:santepsy@db:5432/santepsy
    ports:
      - "8080:8080"
      - "9229:9229"
    volumes:
      - .:/app
    depends_on:
      - db