services:
  db:
    image: postgres:12.5
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U santepsy"]
      interval: 5s
      timeout: 5s
      retries: 5
    environment:
      POSTGRES_USER: santepsy
      POSTGRES_PASSWORD: santepsy
    ports:
      - "5432:5432"

  maildev:
    image: maildev/maildev
    environment:
      MAILDEV_INCOMING_USER: mailuser
      MAILDEV_INCOMING_PASS: mailpassword
    ports:
      - "1080:1080"
      - "1025:1025"

  web:
    build: .
    command: sh -c "pnpm run migrate && pnpm run seed && pnpm run dev"
    env_file:
      - .env
    environment:
      DATABASE_URL: postgres://santepsy:santepsy@db:5432/santepsy
      ANNOUNCEMENT: "(Docker-compose variable) Very important announcement."
      PUBLIC_ANNOUNCEMENT: "(Docker-compose variable) Very important public announcement."
      SECRET_LOGS: "production_value_should_be_set_in_.env"
      SECRET: "production_value_should_be_set_in_.env"
      HOSTNAME_WITH_PROTOCOL: "http://localhost:3000"
      USE_CORS: "true"
      SPEED_LIMITATION: "false"
      TEST_ENVIRONMENT: "true"
      # INSTAGRAM_FOLLOWER: "20 000"
    ports:
      - "8080:8080"
    volumes:
      - .:/app
    depends_on:
      db:
        condition: service_healthy

  react:
    build: ./frontend
    working_dir: /app/frontend
    command: ["pnpm", "run", "dev"]
    ports:
      - "3000:3000"
    volumes:
      - .:/app
