version: '3'
services:
  db:
    image: postgres:12.5
    environment:
      POSTGRES_USER: santepsy
      POSTGRES_PASSWORD: santepsy
    ports:
      - "5432:5432"
  web:
    build: .
    command: bash -c "npm run migrate && nodemon --inspect=0.0.0.0:9229 ./index.js"
    links:
      - db
    env_file:
      - .env
    environment:
      DATABASE_URL: postgres://santepsy:santepsy@db:5432/santepsy
    ports:
      - "8080:8080"
      - "9229:9229"
    volumes:
      - .:/app