.card { 
  background-color: var(--g200);
  padding: 12px;
  height: 100%;
}

.question { 
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0.6rem;
}

.answer { 
  font-size: 14px; 
  margin: 0;
}