.label {
  color: var(--text-title-blue-france);
  font-weight: bold;
  text-align: center;
}

.link {
  width: max-content;
  margin: 4px 8px;
  a {
    box-shadow: 0 0 0 1px var(--border-action-high-blue-france);
  }
}
