@import 'src/variables.scss';
// version mobile à gérer !!!

.psyDashboardCard, .psyDashboardDescription {
  display: flex;
  border: 1px solid #D9D9D9;
  border-radius: 20px;
  padding: 24px;
  width: 80%;
  margin-bottom: 24px;
}

.psyPersonIcon {
  width: 80px;
}

.psyDashboardCard button {
  font-size: 14px;
  padding: 6px;
  margin: 6px 24px 6px 0px;
}

.buttonEdit {
  box-shadow: none;
}

.psyDashboardCardSecondColumn p {
  margin: 5px;
}

.psyDashboardCardFirstColumn, .psyDashboardCardSecondColumn {
  display: flex;
  flex-direction: column;
  margin-right: 88px;
  justify-content: end;
}

.psyDashboardConvention, .psyDashboardAvailability, .psyDashboardConvention:disabled, .psyDashboardConvention[disabled] {
  width: 400px;
  margin-right: 16px;
  box-shadow: none;
  color : var(--text-title-blue-france);;
}

.psyDashboardConvention img, .psyDashboardAvailability img {
  width: 20px;
  margin-right: 16px;
}

.psyDashboardConvention span, .psyDashboardAvailability span {
  display: flex;
  text-align: left;
}

.psyDashboardDescription {
  flex-direction: column;
}

.inactiveTexts {
  display: flex;
  flex-direction: column;
}

.inactiveSubtext {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: #666666;
}
