@import 'src/variables.scss';

.allSections {
  display: flex;
  justify-content: space-between;
}

.leftSection,
.rightSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.leftSection {
  max-width: 60%;
}

.rightSection {
  max-width: 37%;
}

@media (max-width: 1200px) {
  .allSections {
    display: flex;
    flex-direction: column;
  }

  .leftSection,
  .rightSection {
    max-width: 100%;
  }
}
