@import 'src/tooltip.scss';

.filter {
    input, select {
        font-size: 0.8rem;
        padding-left: 0;
        line-height: 1rem;
    }

    select {
        box-shadow: none;
    }
}

.date {
    @include tooltip;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between
}