.newAppointmentWrapper {
  display: flex;
  flex-direction: row;
  gap: 5%;

  form {
    z-index: 3;
    width: 40%;
  } 

  .message {
    font-weight: bold;
    padding-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .newAppointmentWrapper {
    flex-direction: column;
    form {
      width: auto;
    }
  }
}