.newAppointmentWrapper {
  display: flex;
  flex-direction: row;
  gap: 5%;

  form {
    z-index: 3;
    width: 40%;
  } 
}

.submitCancelButtonsWrapper {
  display: inline-flex;
  gap: 8px;
  
  button {
  z-index: -1;
  }
}

@media (max-width: 768px) {
  .newAppointmentWrapper {
    flex-direction: column;
    form {
      width: auto;
    }
  }
}