<%- include('partials/header') -%>

<div class="fr-container fr-mb-3w">
    <h1>Suivi d&#39;audience et vie privée</h1>

    <h3 id="cookies-déposés-et-opt-out">Cookies déposés et opt-out</h3>

    <p>Ce site dépose un petit fichier texte (un « cookie ») sur votre ordinateur lorsque vous le consultez. Cela nous permet de mesurer le nombre de visites et de comprendre quelles sont les pages les plus consultées.</p>

    <p>Information sur votre suivi : </p>
    <iframe
        style="border: 0; height: 100px; width: 80%"
        src="https://stats.data.gouv.fr/index.php?module=CoreAdminHome&action=optOut&language=fr&backgroundColor=&fontColor=&fontSize=&fontFamily=%22Marianne%22%2C%20arial%2C%20sans-serif"
        ></iframe>

    <h3 id="ce-site-naffiche-pas-de-bannière-de-consentement-aux-cookies-pourquoi-">Ce site n’affiche pas de bannière de consentement aux cookies, pourquoi ?</h3>

    <p>C’est vrai, vous n’avez pas eu à cliquer sur un bloc qui recouvre la moitié de la page pour dire que vous êtes d’accord avec le dépôt de cookies — même si vous ne savez pas ce que ça veut dire !</p>

    <p>Rien d’exceptionnel, pas de passe-droit lié à un <code class="language-plaintext highlighter-rouge">.gouv.fr</code>. Nous respectons simplement la loi, qui dit que certains outils de suivi d’audience, correctement configurés pour respecter la vie privée, sont exemptés d’autorisation préalable.</p>

    <p>Nous utilisons pour cela <a href="https://matomo.org/" target="_blank" rel="noopener noreferrer">Matomo</a>, un outil <a href="https://matomo.org/free-software/" target="_blank" rel="noopener noreferrer">libre</a>, paramétré pour être en conformité avec la <a href="https://www.cnil.fr/fr/solutions-pour-la-mesure-daudience" target="_blank" rel="noopener noreferrer">recommandation « Cookies »</a> de la <abbr title="Commission Nationale de l'Informatique et des Libertés">CNIL</abbr>. Cela signifie que votre adresse IP, par exemple, est anonymisée avant d’être enregistrée. Il est donc impossible d’associer vos visites sur ce site à votre personne.</p>

    <h3 id="je-contribue-à-enrichir-vos-données-puis-je-y-accéder">Je contribue à enrichir vos données, puis-je y accéder ?</h3>

    <p>Bien sûr ! Les statistiques d’usage sont disponibles en accès libre sur <a target="_blank" rel="noopener" href="https://stats.data.gouv.fr/index.php?module=CoreHome&action=index&date=yesterday&period=day&idSite=160#?idSite=160&period=day&date=yesterday&segment=&category=Dashboard_Dashboard&subcategory=1">stats.data.gouv.fr</a>.</p>

</div>

<%- include('partials/footer') -%>
