<%- include('partials/header') -%>

<!-- TODO serve jquery from local -->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  $( function() {
    $( "#date" ).datepicker($.datepicker.regional[ "fr" ] );
  } );
</script>
<script src="/static/js/datepicker-fr.js"></script>

<div class="rf-container rf-mb-5w">
  <h1 id="contactez-nous">
    Nouveau rendez-vous
  </h1>
  <div class="rf-my-5w">
    <form action="/creer-nouveau-rendez-vous" method="POST">
      <div>
        <div>
          <label for="date">Date du rendez-vous</label>
        </div>
        <div>
          <input type="text" id="date" name="date">
        </div>
      </div>
      <div class="rf-my-5w">
        <button type="submit" class="rf-btn rf-fi-add-line rf-btn--icon-left">Créer le rendez-vous</button>
      </div>
    </form>
  </div>
  <div>
    Des questions ? Une difficulté ? Envoyez-nous un email à <b><%= contactEmail %></b>.
  </div>
</div>

<%- include('partials/footer') -%>
