<%- include('partials/header') -%>
<div class="rf-container-fluid">
  <div class="rf-grid-row rf-grid-row--center rf-grid-row--middle rf-mt-3w">
    <div id="hero-col-1" class="rf-col-md-4 rf-col-xs-10 rf-pr-2w">
      <h2>Étudiants, parlez de vos difficultés</h2>
      <p>
        Bénéficiez de séances gratuites avec un psychologue pendant la crise sanitaire.
      </p>
      <p>
        Sans avance de frais.
      </p>
    </div>
    <div id="hero-col-2" class="rf-col-md-4 rf-col-xs-10">
      <div>
        <img
          style="max-width: 100%;"
          src="/static/images/seance_psy.jpg"
          alt="Séance chez un psychologue"
        />
      </div>
      <div class="rf-text-right">
        <a class="rf-text--xs" href="https://www.freepik.com/vectors/medical">Image de pch.vector - www.freepik.com</a>
      </div>
    </div>
  </div>
</div>

<%- include('partials/section',
   {
     section:
       {
         title: "Comment ça se passe ?",
         parts: [
           {
             title: 'Consultez un médecin',
             text: 'Le médecin généraliste de votre service de Santé Universitaire vous prescrit un suivi psychologique.',
           },
           {
             title: 'Choisissez un psychologue',
             text: 'Vous choisissez le professionnel qui vous accompagnera parmi la liste des psychologues partenaire.',
           },
           {
             title: 'Bénéficiez d'un suivi',
             text: 'Vous prenez rendez-vous avec votre psychologue, qui vous suivra pendant 3 séances renouvelables.',
           }
         ],
         cssClass: 'rf-bg--alt',
       },
   })
 -%>

<div class="rf-container-fluid">
  <div class="rf-grid-row rf-grid-row--center rf-grid-row--gutter bg-fond-alternatif">
    <div class="rf-col rf-col-xs-10 rf-col-md-8 rf-my-4w">
      <h2>Je suis étudiant•e</h2>
        <div class="rf-pb-5w">
          Le parcours de soin est en cours de préparation. En attendant que ce service d'assistance soit disponible,
          nous vous proposons d'autres solutions de soutien !
        </div>
        <a class="rf-btn" href="https://www.soutien-etudiant.info/" target="_blank" rel="noopener noreferrer">Voir le site www.soutien-etudiant.info</a>
    </div>
  </div>
</div>

<div class="rf-container-fluid">
  <div class="rf-grid-row rf-grid-row--center rf-grid-row--gutter">
    <div class="rf-col rf-col-xs-10 rf-col-md-8 rf-my-4w">
      <h2>Je suis psychologue</h2>
        <div class="rf-pb-5w">
          Vous souhaitez participer au programme d'assistance psychologique aux étudiants, vous pourrez bientôt postuler!
        </div>
        <a class="rf-btn" href="#" target="_blank" rel="noopener noreferrer" disabled>Postuler</a>
    </div>
  </div>
</div>

<div class="rf-container-fluid rf-centered rf-pt-2w rf-mt-4w">
  <div class="bg-blue-france text-white rf-pt-4w rf-p-4w">
    <div class="rf-container">
      <div class="rf-grid-row rf-grid-row--gutters rf-grid-row--center rf-grid-row--middle ">
        <div class="rf-col">
          <h2 class="text-white rf-mr-2w" style="display: inline">Service de Santé Universitaire, vous souhaitez consulter la liste de professionels ?</h2>
          <a title="Consulter la liste" href="#" target="_blank"
            rel="noopener noreferrer" class="rf-btn bg-blue-soft text-blue-soft">Consulter la liste</a>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
