<%- include('partials/header') -%>
<div class="rf-container-fluid">
  <div class="rf-grid-row rf-grid-row--center rf-grid-row--middle rf-mt-3w">
    <div id="hero-col-1" class="rf-col-md-4 rf-col-xs-10 rf-pr-2w">
      <h2>Etudiants, parlez de vos difficultés</h2>
      <p>
        Trois séances gratuites chez un psychologue, pour chaque étudiant, pour être aidé.e
        face à la crise.
      </p>
      <p>
        Rien à débourser.
      </p>
    </div>
    <div id="hero-col-2" class="rf-col-md-4 rf-col-xs-10">
      <div>
        <img
          style="max-width: 100%;"
          src="/static/images/seance_psy.jpg"
          alt="Séance chez un psychologue"
        />
      </div>
      <div class="rf-text-right">
        <a class="rf-text--xs" href="https://www.freepik.com/vectors/medical">Image de pch.vector - www.freepik.com</a>
      </div>
    </div>
  </div>
</div>

<div class="rf-container-fluid">
  <div class="rf-grid-row rf-grid-row--center rf-grid-row--gutter bg-fond-alternatif">
    <div class="rf-col rf-col-xs-10 rf-col-md-8 rf-my-4w">
      <h2>Je suis étudiant•e</h2>
        <div class="rf-pb-5w">
            En attendant que ce service d'assistance soit disponible, le site de soutien au étudiant est à disposition.
        </div>
        <button class="rf-btn"><a href="https://www.soutien-etudiant.info" target="_blank">Voir le site</a></button>
    </div>
  </div>
</div>

<div class="rf-container-fluid">
  <div class="rf-grid-row rf-grid-row--center rf-grid-row--gutter bg-blue-france">
    <div class="rf-col rf-col-xs-10 rf-col-md-8 rf-my-4w">
      <h2>Je suis psychologue</h2>
        <div class="rf-pb-5w">
          cisdfhksd skdfjh ks
        </div>
        <button class="rf-btn rf-btn--secondary"><a href="https://www.soutien-etudiant.info" target="_blank">Voir le site</a></button>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
