<%- include('partials/header') -%>

<div class="rf-container rf-mb-5w">
  <h1 id="contactez-nous">
    Mes rendez-vous
  </h1>
  <div>
    <a href="/nouveau-rendez-vous" class="rf-btn rf-fi-add-line rf-btn--icon-left">Nouveau rendez-vous</a>
  </div>
  <div class="rf-my-5w">
    <% appointments.forEach(function(appointment) { %>
      <li><%= appointment.date %></li> <!-- TODO display dates in better format -->
    <% }) %>
  </div>
  <div>
    Des questions ? Une difficulté ? Envoyez-nous un email à <b><%= contactEmail %></b>.
  </div>
</div>

<%- include('partials/footer') -%>
