<div class="rf-col-lg-6 rf-col-xs-12 rf-pr-3w rf-pb-5w">
  <h2 class="rf-mb-4w">
    Mes séances
  </h2>
  <div class="rf-mb-2w">
    <a href="/nouvelle-seance" class="rf-btn rf-fi-add-line rf-btn--icon-left">Nouvelle séance</a>
  </div>
  <div>
    <% if (appointments.length) { %>
      <ul class="rf-list">
        <% appointments.forEach(function(appointment) { %>
          <li>
            <div>
              <div>
                <%= format.formatFrenchDate(appointment.appointmentDate) %>
              </div>
              <div>
                avec <%= appointment.firstNames %> <%= appointment.lastName %>
              </div>
              <div>
                <form action="/supprimer-seance" method="POST">
                  <input hidden name="appointmentId" value="<%= appointment.id %>" />
                  <button type="submit" class="rf-btn rf-btn--secondary rf-fi-close-line rf-btn--icon-left">
                    Supprimer
                  </button>
                </form>
            </div>
            </div>
          </li>
        <% }) %>
      </ul>
    <% } else { %>
      Vous n'avez pas encore déclaré de séances.
    <% } %>
  </div>
</div>

