<%- include('partials/header') -%>

<div class="rf-container rf-mb-5w">
  <h1 id="contactez-nous">
    Mes rendez-vous
  </h1>
  <div>
    <% appointments.forEach(function(appointment) { %>
      <li><%= appointment.date %></li>
    <% }) %>
  </div>
  <div>
    Des questions ? Une difficulté ? Envoyez-nous un email à <b><%= contactEmail %></b>.
  </div>
</div>

<%- include('partials/footer') -%>
