<div class="fr-col-xs-12 fr-col-sm-12 fr-col-md-12 fr-col-lg-6 fr-col-xl-6 fr-pb-5w">
  <h2 class="fr-mb-2w">
    Mes patients
  </h2>
  <div class="fr-mb-2w">
    <a href="/psychologue/nouveau-patient" class="fr-btn fr-fi-add-line fr-btn--icon-left">Nouveau patient</a>
  </div>
  <div>
    <% if (patients.length) { %>
      <% if (patients.find((patient) => !patient.hasFolderCompleted)) { %>
       <div class="fr-callout fr-mb-2w">
           <p class="fr-text--md fr-mb-1v">
           Certains de vos patients n'ont pas leur dossier complet - vérification du statut d'étudiant, l'orientation du medecin, le nom du medecin, sa ville,
           ou l'université du patient, ou date de naissance (obligatoire uniquement pour vos patients enregistrés après le <%= dateOfBirthDeploymentDate %>) sont manquants.
           <br/>
           <strong>
             Ceci est obligatoire pour facturer les séances du patient.
           </strong>
          </p>
        </div>
      <% } %>
      <ul class="fr-list">
        <%- include('patients', {patients: patients.filter(patient => !patient.hasFolderCompleted)}) -%>
        <%- include('patients', {patients: patients.filter(patient => patient.hasFolderCompleted)}) -%>
      </ul>
    <% } else { %>
      Vous n'avez pas encore déclaré de patients.
    <% } %>
  </div>
</div>
