<div class="rf-col-lg-6 rf-col-xs-12 rf-pb-5w">
  <h2 class="rf-mb-4w">
    Mes patients
  </h2>
  <div class="rf-mb-2w">
    <a href="/nouveau-patient" class="rf-btn rf-fi-add-line rf-btn--icon-left">Nouveau patient</a>
  </div>
  <div>
    <ul class="rf-list">
    <% patients.forEach(function(patient) { %>
      <li><%= patient.lastName %> <%= patient.firstNames %></li>
    <% }) %>
  </ul>
  </div>
</div>

