<div class="rf-col-xs-12 rf-col-sm-12 rf-col-md-12 rf-col-lg-6 rf-col-xl-6 rf-pb-5w">
  <h2 class="rf-mb-4w">
    Mes patients
  </h2>
  <div class="rf-mb-2w">
    <a href="/psychologue/nouveau-patient" class="rf-btn rf-fi-add-line rf-btn--icon-left">Nouveau patient</a>
  </div>
  <div>
    <% if (patients.length) { %>
      <% if (!hasAllPatientsWithCompletedFolders) { %>
        <div class="rf-callout">
          <p class="rf-callout__text">
           Certains de vos patients n'ont pas leur dossier complet - le numéro INE, l'orientation du medecin, le nom du medecin, sa ville,
           ou l'université du patient sont manquants.
           <strong>
             Ceci est obligatoire pour facturer les séances du patient.
           </strong>
          </p>
        </div>
      <% } %>
      <ul class="rf-list">
        <% patients.forEach(function(patient) { %>
          <div class="rf-grid-row rf-grid-row--gutters rf-grid-row--space-between">
            <div class="rf-col-xs-12 rf-col-sm-6 rf-col-md-8 rf-col-lg-9 rf-col-xl-9">
              <li>
                <%= patient.lastName %> <%= patient.firstNames %>
                <% if (!patient.hasFolderCompleted) { %>
                  <span class="rf-tag bg-orange-warning  rf-fi-alert-line rf-tag--icon-left rf-tag--sm"
                  title="Le numéro INE, l'orientation du medecin, le nom du medecin, sa ville, ou l'université du patient sont manquants">
                    Informations manquantes
                  </span>
                <% } else { %>
                  <span class="rf-tag bg-success rf-fi-check-line rf-tag--icon-left rf-tag--sm">
                    Dossier complet
                  </span>
                <% } %>
              </li>
            </div>
            <div class="rf-col-xs-12 rf-col-sm-6 rf-col-md-4 rf-col-lg-3 rf-col-xl-3 rf-text-right">
              <form action="/psychologue/modifier-patient" method="GET">
                <input type="hidden" name="_csrf" value="<%= _csrf  %>">
                <input hidden name="patientid" value="<%= patient.id %>" />
                <button type="submit" class="rf-btn rf-btn--secondary rf-btn--sm rf-fi-edit-line rf-btn--icon-left">
                  <% if (!patient.hasFolderCompleted) { %>
                    Compléter
                  <% } else { %>
                    Modifier
                  <% } %>
                </button>
              </form>
            </div>
          </div>
        <% }) %>
      </ul>
    <% } else { %>
      Vous n'avez pas encore déclaré de patients.
    <% } %>
  </div>
</div>
