.header {
    display: flex;
    align-items: center;
}

.content {
    margin: 32px auto;
    width: 750px;
    @media print {
        page-break-inside: avoid;
    }
}

.info {
    margin-bottom: 16px;
}