.rf-centered {
  text-align: center;
}
.rf-text-right {
  text-align: right;
}

.rf-bg--alt, .rf-bg--alt h2 {
  background-color: var(--bf500);
  color: var(--g100);
}

.bg-fond-alternatif {
  background-color: var(--g100);
}

.bg-blue-france {
  background-color: var(--bf500);
  color: var(--w);
}

.bg-blue-soft {
  background-color: var(--bs300);
}

.bg-blue-france h2 {
  color: var(--w);
}

.text-blue-france {
  color: var(--bf500);
}

.text-blue-soft {
  color: var(--bs300);
}

.btn--secondary--temporary-fix {
  border: 1px var(--bf500) solid;
}

.short-input {
  max-width: 10rem;
}
.midlength-input {
  max-width: 25rem;
}

.appointment-list {
  list-style-type: none;
  padding-inline-start: 0px;
}
.appointment-list li{
  margin-bottom: 1.5rem; /* rf-mb-3w */
}