.container {
  color: var(--bf500);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px 32px;
  text-align: center;
}

.text {
  text-align: left;
}

.title {
  font-weight: bold;
  font-size: 26px;
  line-height: 38px;
}

.description {
  font-size: 20px;
  line-height: 28px;
}