.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0px 32px;
  text-align: center;
}

.text {
  text-align: left;
  color: var(--text-title-blue-france);
}
