@import 'src/variables.scss';

.background {
  background-color: $secondary-color;
}

.header {
  background-color: $primary-color;
  padding: 16px 16px 96px 16px;
  margin-bottom: -48px;
  >* {
    max-width: 1200px;
    margin: auto;
  }
}

.container {
  background-color: white;
  max-width: 1200px;
  padding: 24px 16px;
  position: relative;
  margin: auto;
  box-shadow: 0 2px 7px 0 rgba(0,0,0,0.21);
}

.breadCrumbsWithoutHeader {
  margin: auto;
}

.breadCrumbs {
  color: #CACAFB;

  .currentBreadCrumb a {
    color: white !important;
  }
}

.textContainer {
  max-width: 1200px;
  margin: auto;
  padding: 16px;
  overflow-wrap: anywhere;
}

.title {
  color: white;
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  margin-bottom: 12px;
  b {
    color: $primary-text-color;
  }
}

.description {
  color: white;
  font-size: 20px;
  line-height: 28px;
}

.tutorial {
  display: none;
  color: var(--text-title-blue-france);
  position: absolute;
  right: 32px;
  top: 32px;
  cursor: pointer;
}

@media (min-width: 992px) {
  .tutorial {
    display: block;
  }
}

@media (min-width: 769px) {
  .container {
    padding: 24px;
  }
  
  .header {
    padding: 32px 32px 96px 32px;
  }

  .background {
    padding-bottom: 64px;
  }

  .title {
    font-size: 56px;
    line-height: 65px;
  }  
  
  .description {
    font-size: 28px;
    line-height: 40px;
  }  
}
