.yellow {
  background-color: var(--bg-yellow);
}

.blue {
  background-color: var(--bg-blue);
}

.container {
  position: relative;
  background: var(--grey-1000-75);
  max-width: 800px;
  margin: auto;
  padding: 24px 8px;
  box-shadow: 0 2px 7px 0 rgba(0,0,0,0.21);
}

.textContainer {
  color: var(--text-title-blue-france);
  margin-top: 40px;
  overflow-wrap: anywhere;
}

.sectionTitle {
  color: var(--text-title-blue-france);
  text-align: center;
}

.tutorial {
  display: none;
  color: var(--text-title-blue-france);
  position: absolute;
  right: 32px;
  top: 32px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .container {
    padding: 24px;
  }
}

@media (min-width: 992px) {
  .tutorial {
    display: block;
  }
}
