.section {
  margin-bottom: 24px;
  p {
    margin-bottom: 8px;
  }

  h3, h2 {
    color: var(--text-title-blue-france);
  }

}

.sectionTitle {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 8px;
}
