@use 'src/variables.scss' as *;

.studentHeader {
  background-color: white;
  border-bottom: 1px solid #e5e5e5;
}

.menu {
  max-width: 1200px;
  margin: auto;
  padding: 16px 32px;
}

.menuList {
  display: flex;
  gap: 32px;
  list-style: none;
  padding: 0;
  margin: 0;

  a {
    text-decoration: none;
    font-weight: 500;
    color: $secondary-text-color;
    position: relative;
  }
}

.background {
  background-color: white;
}

.titleContainer {
  max-width: 1200px;
  margin: auto;
  padding: 16px 32px;
}

.title {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  color: $primary-text-color;
  margin: 0;
}

.container {
  max-width: 1200px;
  position: relative;
  margin: auto;
}
