@use 'src/variables.scss' as *;

.studentHeader {
  background-color: white;
  border-bottom: 1px solid #e5e5e5;
}

.menu {
  max-width: 1200px;
  margin: auto;
  padding: 16px 32px;
}

.menuList {
  display: flex;
  gap: 32px;
  list-style: none;
  padding: 0;
  margin: 0;

  a {
    text-decoration: none;
    font-weight: 500;
    color: $secondary-text-color;
    position: relative;
  }
}

.background {
  background-color: $secondary-color;
}

.container {
  background-color: white;
  max-width: 1200px;
  padding: 24px 16px;
  position: relative;
  margin: auto;
  box-shadow: 0 2px 7px 0 rgba(0,0,0,0.21);
}

@media (min-width: 769px) {
  .container {
    padding: 24px;
  }

  .background {
    padding-bottom: 64px;
  }
}
