.bigTitle,
.title {
  display: inline;
}

.title {
  box-shadow: inset 0 -2px var(--w), inset 0 -12px var(--yellow);
}

.bigTitle {
  box-shadow: inset 0 -5px var(--w), inset 0 -17px var(--yellow);
}

.bigTitle-yellow {
  box-shadow: inset 0 -5px var(--bg-yellow), inset 0 -17px var(--yellow);
}
