<%- include('header'); -%>
    <p>Bonjour ! 👋</p>
    <p>Nouvelle séance déclarée</p>
    <p>Un psychologue a déclaré une séance te concernant.<br>Tu peux accéder à la liste des séances dans ton espace.</p>
    <p>L'équipe Santé Psy Étudiant te souhaite une bonne journée.</p>
    <a href="<%= loginLink %>" class="loginButton">
        Mon espace </a>
    <%- include('footer'); -%>