<%- include('header', {title: "Santé Psy Étudiant"}); -%>
  <p>Bonjour ! 👋</p>
  <p>
    Vous avez demandé un lien de connexion à l'espace psychologues de <%= appName %>.
  </p>
  <p>
    Cependant votre dossier n'a pas encore été validé par notre équipe, donc <bold>vous ne pouvez pas encore vous connecter</bold>. 
  </p>
  <p>
    <bold>Vous recevrez bientôt un email</bold> vous notifiant quand votre dossier sera accepté ou refusé. Si la réponse est positive, vous pourrez alors vous connecter.
  </p> 

  <p>Pour toute autre question, n'hésitez pas à répondre à ce mail pour nous contacter.</p>
<%- include('footer'); -%>
