<p>Bonjour ! 👋</p>

<p>
  Vous avez demandé un lien de connexion à l'espace psychologues de <%= appName %>.
</p>
<p>
  Cependant votre compte n'a pas encore validé sur Demarches Simplifiées par notre équipe, il le sera certainement dans les prochains jours. 
</p>
<p>
  <bold>Vous recevrez bientôt un email</bold> vous notifiant quand votre dossier sera accepté ou refusé. Si la réponse est positive, vous pourrez alors vous connecter.
</p> 

<p>Pour toute autre question, n'hésitez pas à répondre à ce mail pour nous contacter.</p>


<p>L'équipe Santé Psy Étudiants</p>
