<%- include('header'); -%>
    <p>Bonjour ! 👋</p>
    <p>Tu es en cours de modification de ton Espace Étudiant sur Santé Psy Étudiant. Tu peux confirmer ton adresse email en cliquant sur ce bouton :</p>
    <a href="<%= loginUrlWithToken %>" class="loginButton">Confirmer mon adresse </a>
    <p>Lien expirant dans 2 heures.</p>
    <p>Valable un seule fois</p>
<%- include('footer'); -%>