<%- include('header'); -%>
  <p>Félicitations ! 👋</p>
    <p>
      Ton Espace Étudiant est bien créé.
    <p>
    <br/>
    <p>
      Pour se connecter, pas de mot de passe ! Demande un lien, valide pendant 2 heures, chaque fois sur 
      <a title="https://santepsy.etudiant.gouv.fr/" href="https://santepsy.etudiant.gouv.fr/">https://santepsy.etudiant.gouv.fr/</a>
    <p>
    <a href="<%= loginUrlWithToken %>" class="loginButton">
      Me connecter
    </a>
  </p>
  <br/>
  <div>
    Santé Psy Étudiant, c'est 12 séances avec un psychologue par année scolaire, gratuites et sans avance de frais.
    <p>
      Tu peux changer de psychologue à tout moment.
    </p>
    <p>
      N'hésite pas à consulter la 
      <a title="Foire aux questions" href="https://santepsy.etudiant.gouv.fr/faq">Foire aux questions</a>
      pour toute interrogation concernant le dispositif Santé Psy Étudiant.
    </p>
    <br/>
    <p>
      Suis-nous sur les réseaux pour des conseils et du soutien pour cette année d'étude ! 
      <ul>
        <li>l'<a title="instagram officiel" href="https://www.instagram.com/sante_psyetudiant">instagram officiel</a></li>
        <li>le <a title="podcast Kaavan" href="https://santepsy.etudiant.gouv.fr/podcast">podcast Kaavan</a></li>
      </ul>
      Tu n'es pas seul ! 
    </p>
<%- include('footer'); -%>
