<p>Madame, Monsieur,</p>

<p>
  Le récapitulatif mensuel des séances à titre de Service Fait évolue. Vous pouvez à présent, consulter en temps réel le nombre de séances réalisées et déclarées par les psychologues conventionnés sur la plateforme metabase.
</p>

<p>
  Pour y accéder, vous pouvez cliquer ici
</p>

<p>
  <a href="https://santepsy-metabase.osc-secnum-fr1.scalingo.io" style="margin-bottom: 15px;background: #006be6;padding: 10px;border: none;border-radius: 3px;color: white;min-width: 280px;box-shadow: 1px 1px 2px 0px #333;cursor: pointer;">
    Accéder au récapitulatif
  </a>
</p>

<p>
  Vous avez normalement reçu des identifiants pour vous y connecter. Si vous rencontrez des difficultés, n'hésitez pas à nous écrire par mail à <a href="mailto:contact-santepsyetudiants@beta.gouv.fr">contact-santepsyetudiants@beta.gouv.fr</a>
</p>

<p>L'équipe Santé Psy Étudiant</p>