.chatButton {
  position: fixed;
  right: 24px;
  bottom: 20px;
  background-color: #1972F5;
  z-index: 98;
  width: 60px;
  height: 60px;
  cursor: pointer;
  border-radius: 100%;
}

.chatIcon {
  width: 33px;
  height: 28px;
  top: 18px;
  left: 13px;
  position: absolute;
}

.closeButton {
  position: fixed;
  right: 20px;
  bottom: 68px;
  color: grey;
  height: 20px;
  width: 20px;
  background-color: none;
  --hover-tint:none;

  span {
    font-size: 1rem;
  }
}

.closeButton:hover,
.closeButton:active {
  color: initial;
  background-color: initial;
  border-color: initial;
}


  