.services {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  margin-top: -24px;
  justify-content: center;
}

.service {
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  max-width: 460px;
}

.serviceContent {
  padding: 32px;
}

.name {
  margin: 16px 0 12px 0;
  font-size: 22px;
  line-height: 28px;
  font-weight: 700;
}

.description,
.title {
  font-size: 14px;
  line-height: 24px;
}

.title {
  margin-bottom: 0;
  font-weight: 700;
}

@media (max-width: 768px) {
  .services {
    flex-direction: column;
    align-items: center;
  }

  .service {
    width: 80%;
  }
}

@media (min-width: 769px) {
  .service {
    flex-direction: row;
    max-width: 550px;
  }

  .button {
    position: absolute;
    bottom: 32px;
  }
}
