.line {
  display: flex;
  flex-wrap: wrap;
  gap: 0 32px;

  div {
    flex-grow: 1;
    width: calc(50% - 16px);
    min-width: 320px;
  }

  .fullWidthInput {
    max-width: 100%;
    min-width: 100%;
  }
}