@use 'src/variables.scss' as *;

.instaWrapper {
  display: flex;
  align-self: center;
  justify-content: space-between;
  width: 100%;
  padding: 16px;
  margin: 0px auto;
  max-width: 1200px;
  
  img {
    max-width: 400px;
    height: auto;
  }
}

.instaContent {
  margin: 0;
}

.instaDescription {
  p {
    font-size: 20px;
    line-height: 1.5;
    margin: 0 0 16px 0;
    
    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (max-width: 768px) {
  .instaWrapper {
    padding: 32px 16px;
    
    img {
      max-width: 100%;
    }
  }
  
  .instaDescription p {
    font-size: 16px;
  }
}