.container {
  text-align: center;
  width: 82px;
  border: 1px solid var(--blue-france-sun-113-625);
  border-radius: 4px;
  background: var(--grey-1000-75);
  box-shadow: 0 2px 7px 0 rgba(0,0,0,0.21);
  padding: 12px;
}

.blue {
  background-color: var(--bg-blue);
}
