@use 'src/variables.scss' as *;

.labelError {
  color: $error-dsfr-color;
}

.privacyBanner {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  background-color: var(--background-alt-blue-france);
  border-radius: 4px;
}

.privacyText {
  margin: 0;
  font-size: 0.875rem;
  color: var(--text-default-grey);
}

