.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  max-width: 400px;
  margin: auto;
  text-align: left;
  padding: 2rem;
}

.title {
  font-size: 1.75rem;
  font-weight: 700;
}

img {
  margin: auto;
}
