.container {
  width: auto;
  margin: 24px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 0.5rem;
  font-size: large;
  margin: 20px;
  font-weight: 500;

  p {
    margin: 0;
  }
}

.firstNameGroup {
  display: inline-flex;
  color: var(--text-active-blue-france)
}

.ctaBtn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 10px;
  border-radius: 8px;
  background: linear-gradient(135deg, #8A0FBE, #6F016B);
  color: white !important;
  text-decoration: none;

  &:hover {
    opacity: 0.8;
  }
}

.ctaBtnDown {
  width: fit-content;
  margin: 1rem auto 0;
}

.titleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0 20px 0;
  h2 {
    margin: 0;
  }
}

@media (min-width: 768px) {
  .container {
    width: 60%;
  }
}