.clickable {
  cursor: pointer;
}

.fr-centered {
  text-align: center;
}

.fr-text-right {
  text-align: right;
}

.fr-float-right {
  float: right;
}

.bg-fond-alternatif {
  background-color: var(--g100);
}

.bg-blue-france {
  background-color: var(--bf500);
  color: var(--w);
}

.bg-success {
  background-color: #e3ebd3; /* gs300 */
}

.bg-orange-warning {
  background-color: #f7e1d8; /* od300 */
}

.bg-blue-soft {
  background-color: var(--bs300);
}

.fr-grid-row--space-between {
  justify-content: space-between;
}

/* Style should match etudiants.gouv.fr.
   Note : not tested on dark theme. */
.fr-bg--alt, .fr-bg--alt h2 {
  background-color: #fff9c0;
}
.fr-btn--alt, a.fr-btn--alt {
  background-color: #fff06d;
  color: var(--g700);
}

.bg-fond-alternatif {
  background-color: var(--g100);
}

.btn--secondary--temporary-fix {
  border: 1px var(--bf500) solid;
}

.short-input {
  max-width: 10rem;
}
.midlength-input {
  max-width: 41rem;
}

.midlength-input input {
  max-width: 25rem;
}

.midlength-input textarea {
  max-width: 25rem;
}

.midlength-select {
  max-width: 25rem;
}

.fr-table thead form {
  margin-block-end: 0;
}

.fr-table .list-actions button {
  margin: 0 4px;
}

.fr-accordion-group li:before {
  content: none; /* overwrite DSFR default */
}

.fr-accordion-group li {
  padding-bottom: 0 !important; /* overwrite DSFR default */
}

.red-text {
  color: var(--error);
}

.fr-sidemenu--sticky {
  height: 100%;
}

.close-announcement,
.close-notification {
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
}

.menu-link {
  /* Fix a bug on safari*/
  height: 56px !important;
}

.fr-tabs {
  overflow: unset;
}

.contactPage textarea.fr-input {
  resize: vertical;
}

/* overwrite DSFR default */
@media (min-width: 48em) {
  .faqPage .fr-tabs__panel {
    padding: 0; 
  }
}
