.fr-float-right {
  float: right;
}

.short-input {
  max-width: 10rem;
}

.fr-checkbox-group .fr-hint-text{
  margin: -12px 0 0 32px;
}

.fr-fieldset__legend {
  font-weight: normal;
}

.fr-fieldset .fr-hint-text {
  margin-top: -16px;
}

.midlength-select,
.midlength-input input,
.midlength-input select,
.midlength-input textarea {
  max-width: 25rem;
}

.midlength-select .select-search-options {
  max-width: 25rem;
}

.fr-table .list-actions button {
  margin: 0 4px;
}

.fr-accordion-group li:before {
  content: none; /* overwrite DSFR default */
}

.fr-accordion-group li {
  padding-bottom: 0 !important; /* overwrite DSFR default */
}

.red-text {
  color: var(--error);
}

.fr-sidemenu--sticky {
  height: 100%;
}

.menu-link {
  /* Fix a bug on safari*/
  height: 56px !important;
}

.fr-tabs {
  overflow: unset;
}

.contactPage textarea.fr-input {
  resize: vertical;
}

/* overwrite DSFR default */
@media (min-width: 48em) {
  .faqPage .fr-tabs__panel {
    padding: 0; 
    outline-offset: 0;
  }
}
