.fr-float-right {
  float: right;
}

.short-input {
  max-width: 10rem;
}

.fr-fieldset__legend {
  font-weight: normal;
}

.midlength-select,
.midlength-input input,
.midlength-input select,
.midlength-input textarea {
  max-width: 25rem;
}

.midlength-select .select-search-options {
  max-width: 25rem;
}

.fr-table table {
  display: table;
}

.fr-accordion-group li:before {
  content: none; /* overwrite DSFR default */
}

.fr-accordion-group li {
  padding-bottom: 0 !important; /* overwrite DSFR default */
}

.fr-text--lead,
.fr-text--lg {
  margin-bottom: 2rem; /* overwrite DSFR default */
}

.red-text {
  color: var(--error);
}

.fr-sidemenu--sticky {
  height: 100%;
}

.menu-link {
  /* Fix a bug on safari*/
  height: 56px !important;
}

.fr-tabs {
  overflow: unset;
  margin-left: 0;
  margin-right: 0;
}

.contactPage textarea.fr-input {
  resize: vertical;
}

.button-secondary-container a {
  box-shadow: 0 0 0 1px var(--border-action-high-blue-france);
}

.__floater__open {
  z-index: 3500 !important;
}

.secondaryPageTitle {
  font-size: 32px;
  line-height: 40px;
  margin: 16px 0;
}

@media (min-width: 769px) {
  .secondaryPageTitle {
    font-size: 2.5rem;
    line-height: 3rem;
    margin: 24px 0;
  }
}