.monthPicker .react-datepicker__header {
  border: none;
  background-color: white !important;
  margin-top: 15px;
}

.monthPicker .react-datepicker-popper {
  z-index: 10;
}

.monthPicker .react-datepicker__navigation {
  margin-top: 15px;
}

.monthPicker .react-datepicker__navigation:hover {
  color: white;
  background-color: white;
}

.monthPicker .react-datepicker__header:focus {
  outline: none;
}

.monthPicker .react-datepicker__triangle {
  display: none;
}

.monthPicker .react-datepicker__month-text--today {
  font-weight: bold !important;
}

.monthPicker .react-datepicker__month-text--selected,
.monthPicker .react-datepicker__month-text--keyboard-selected {
  color: white !important;
  font-weight: 700 !important;
}

.monthPicker .react-datepicker__month-text {
  padding: 10px;
  border-radius: 2px;
  color: var(--text-title-blue-france);
  font-size: 15px;
  font-weight: 500;
}