.react-datepicker {
  background-color: var(--grey-1000-75);
}

.react-datepicker__header {
  background-color: var(--bg-blue);
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header,
.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  color: var(--text-title-blue-france);
}

.react-datepicker__navigation:hover {
  background-image: none !important;
}

.react-datepicker__navigation *::before {
  border-color: var(--text-title-blue-france);
}

.react-datepicker__navigation:hover *::before {
  border-color: var(--button-color-hover);
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected,
.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  background-color: var(--text-title-blue-france);
  color: var(--blue-france-950-100);

  &:hover {
    background-image: linear-gradient(0deg, var(--button-color-hover), var(--button-color-hover));
  }
}