.month-picker > .rmp-container .rmp-popup.light {
  color: var(--text-title-blue-france);
  background-color: var(--grey-1000-75);
}
@media screen and (max-width: 767px) {
  .month-picker > .rmp-container .rmp-popup.light {
    border-top: 1px solid var(--text-title-blue-france);
  }
} 
@media screen and (min-width: 768px) {
  .month-picker > .rmp-container .rmp-popup.light {
    border: 1px solid var(--text-title-blue-france);
    box-shadow: 0 1px 5px var(--grey-1000-75);
  }
}
@media screen and (min-width: 768px) {
  .month-picker > .rmp-container .rmp-popup.light .rmp-pad .rmp-btn:hover {
    background-color: var(--text-title-blue-france);
    color: var(--grey-1000-75)
  } 
}
.month-picker > .rmp-container .rmp-popup.light .rmp-pad li.active, .month-picker > .rmp-container .rmp-popup.light .rmp-pad li.active:hover {
  background-color: var(--text-title-blue-france);
  color: var(--blue-france-950-100);
}

.month-picker > .rmp-container .rmp-popup.light .rmp-pad .disable, .month-picker > .rmp-container .rmp-popup.light .rmp-pad .disable:hover, .month-picker > .rmp-container .rmp-popup.light .rmp-pad li.disable, .month-picker > .rmp-container .rmp-popup.light .rmp-pad li.disable:hover {
  background-color: var(--grey-1000-75);
  color: var(--grey-850);
}
