@import 'src/variables.scss';

.incomplete {
  background-color: var(--tag-orange);
}

.studentSectionTitle {
  background-color: #c9c9e9;
  display: flex;
  align-items: center;
  padding: 24px;
  margin: 16px -24px 48px -24px;
}

.studentSectionTitle h2 {
  color: #51519c;
  margin: 0;
  margin-right: 24px;
}

.listTitle {
  color: $secondary-text-color;
  font-size: 2.2rem;
  margin-top: 40px;
}

.listSubTitle {
  color:#9795BF;
  padding-bottom:60px;
  font-size: 1.3rem !important;
}

.patientAppointments {
  width: 70%;
}

@media (max-width: 768px) {
  .patientAppointments {
      width: 100%;
  }
}
