.table {
    overflow: visible !important;
}

.clickableElement {
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.tooltip {
    visibility: hidden;
    width: max-content;
    max-width: 150px;
    text-align: center;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 14px;
    border-bottom: 1px solid var(--light-border-default-grey, #DDD);
    background: var(--light-background-elevation-overlap-grey, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: white transparent transparent transparent;
}

.clickableElement:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.tableAppointments {
    width: 80%;
    max-height: 560px;
    overflow-y: auto;
}

.badgesColumn {
    width: 80%;
}

.filter {
    input, select {
        font-size: 0.8rem;
        padding-left: 0;
        line-height: 1rem;
    }

    select {
        box-shadow: none;
    }
}
