.container {
    color: var(--bf500);
    margin-bottom: 32px;
}

.section,
.sectionLight,
.sectionAlt {
    text-align: center;
    padding: 16px;
}

.sectionLight {
    background-color: var(--bf100);
}

.sectionAlt {
    background-color: var(--yellow-medium-300);
}

@media (min-width: 768px) {
    .section,
    .sectionLight,
    .sectionAlt {
        padding: 64px;
    }

    .container {
        margin-bottom: 64px;
    }
}
