@import 'src/variables.scss';


.landing {
    .topSlice {
        height: 280px;
        padding: 0;

        h2 {
            font-size: 32px;
        }
        
        img {
            margin:0;
            margin-right: 15%;
            height: auto;
            max-width: 400px;
        }
    }
}

@media (max-width: 900px) {
    .landing  {
        .topSlice {
            height: 100%;
    
            h2 {
                font-size: 32px;
            }
    
            img {
                max-width: none;
            }
        }
    }
    
  }