.container {
    position: relative;
}

.image {
    position: absolute;
    display: none;
    bottom: 0;
    right: -16px;
}

.content {
    margin: auto;
    padding: 16px;
    max-width: 800px;
    min-height: 389px;
    position: relative;
    display: flex;
    align-items: center;
}

@media (min-width: 768px) {
    .image {
        right: -64px;
        display: block;
    }
}