.container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 8px 32px;
}

.description {
    font-size: 24px;
    line-height: 33px;
    flex: 1;
    text-align: center;
    :first-child {
        font-weight: bold;
        font-size: 30px;
        line-height: 42px;
    }
}

@media (min-width: 821px) {
    .description {
        text-align: left;
    }
}
