.container {
    display: flex;
    flex-wrap: wrap;   
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0px 32px;
}

.text {
    color: var(--text-title-blue-france);
    text-align: center;
    flex: 1;
}

@media (min-width: 936px) {
    .left,
    .right {
        .text {
            text-align: left;
        }
    }

    .left {
        flex-direction: row-reverse;
    }

    .right {
        flex-direction: row;
    }
}
