.title {
    line-height: 42px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 24px;
}

.content {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    gap: 8px 32px;
}