.title {
  font-size: 64px;
  line-height: 72px;
  width: 50%;
}

.description {
  font-size: 24px;
  line-height: 41px;
  width: 50%;
}

.header {
  display: flex;
  align-items: center;
  max-width: 1236px;
  margin: 64px auto;
}

.separator {
  width: 100%;;
  border-top: solid 1px white;
}

.content {
  margin: 64px auto;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  gap: 8px 32px;
}
