@import 'src/variables.scss';

.bigContainer,
.container {
  text-align: center;
  width: 345px;
  height: fit-content;
  border: 1px solid var(--blue-france-sun-113-625);
  border-radius: 4px;
  background: var(--grey-1000-75);
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.21);
  padding: 24px;

  b {
    color: black;
    box-shadow: unset;
  }
}

.index {
  margin: auto;
  height: 56px;
  width: 56px;
  border-radius: 50%;
  font-size: 48px;
  line-height: 46px;
  font-weight: bold;
  color: $primary-color;
  border: solid 1px $primary-color;
}

.image {
  margin: 32px auto;
}

.bigTitle,
.title {
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 12px;
}

.bigTitle {
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 40px;
}

.description {
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 12px;
}

.hint {
  font-size: 14px;
  line-height: 18px;
}

@media (min-width: 769px) {

  .bigContainer,
  .container {
    width: 384px;
    height: 603px;
  }

  .bigContainer {
    width: 400px;
    height: fit-content;
    padding: 64px 32px;
  }
}