.description {
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 16px;
}

.card {
    justify-content: space-around;
    padding: 16px 0px;
    gap: 8px 24px;
}

.button {
    background-color: var(--w);
}

@media (min-width: 768px) {
    .card {
        padding: 48px 64px;
    }
}