@import 'src/variables.scss';

.container {
  text-align: center;
  border: 1px solid var(--blue-france-sun-113-625);
  border-radius: 50px;
  background: var(--grey-1000-75);
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.21);
  padding: 24px;

  b {
    color: black;
    box-shadow: unset;
  }
}

.largeCard {
  width: 345px;
  height: 770px;
}

.mediumCard {
  width: 241.5px;
  height: 562px;
}

.smallCard {
  width: 172.5px;
  height: 385px;
}

.index {
  margin: auto;
  height: 56px;
  width: 56px;
  border-radius: 50%;
  font-size: 48px;
  line-height: 46px;
  font-weight: bold;
  color: $primary-color;
  border: solid 1px $primary-color;
}

.image {
  margin: 32px auto;
}

.title {
  font-weight: normal;
}

.largeTitle {
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 40px;
}

.mediumTitle {
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 20px;
}

.smallTitle {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 10px;
}

.description {
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 24px;
}

.hint {
  margin-top: 24px;
  font-size: 14px;
}

@media (min-width: 769px) {

  // .bigContainer,
  // .container {
  //   width: 384px;
  // }

  .largeCard {
    width: 400px;
    padding: 64px 32px;
  }

  .mediumCard {
    width: 353px;
    padding: 45px 22px;
  }
  
  .smallCard {
    width: 200px;
    padding: 32px 16px;
  }
}