.button {
    background-color: var(--w);
}

.title {
    margin-bottom: 2rem;
}

.blueBackground {
    background-color: var(--bf500);
    color: white;
    padding: 0 16px;
    white-space: nowrap;
}

.email {
    padding: 32px 0 64px 0;
    label {
        display: none;
    }

    input {
        margin-top: 0 !important;
        max-width: 500px;
        margin: auto
    }
}
