@import 'src/variables.scss';

.UnivBillingCard {
  display: flex;
  border: 1px solid #D9D9D9;
  border-radius: 20px;
  padding: 24px 0px 24px 24px;
  width: 36%;
  margin-bottom: 24px;
}

.UnivBillingCard p {
  margin-bottom: 10px;
}

.UnivBillingCard h2 {
  font-size: x-large;
  margin-bottom: 5px;
}

.buttonEdit {
  margin: 0px;
}

.UnivBillingCard button {
  font-size: 14px;
  padding: 2px;
  margin: 0px;
}

.mailButton {
  box-shadow: none;
  display: inline-flex;
  flex-direction: column;
}

.buttonEdit {
  box-shadow: none;
}

@media (max-width: 950px) {
  .UnivBillingCard {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .UnivBillingCard button {
    font-size: 14px;
    margin: 6px 24px 6px 0px;
  }
}

@media (max-width: 425px) {
}
