@use 'src/variables.scss' as *;

.bigContainer {
  text-align: center;
  width: 345px;
  height: 770px;
  border: 1px solid var(--blue-france-sun-113-625);
  border-radius: 50px;
  background: var(--grey-1000-75);
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.21);
  padding: 24px;

  b {
    color: black;
    box-shadow: unset;
  }
}

.index {
  margin: auto;
  height: 56px;
  width: 56px;
  border-radius: 50%;
  font-size: 48px;
  line-height: 46px;
  font-weight: bold;
  color: $primary-color;
  border: solid 1px $primary-color;
}

.image {
  margin: 32px auto;
}

.bigTitle {
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 12px;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 40px;
}

.description {
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 24px;
}

.hint {
  margin-top: 24px;
  font-size: 14px;
}

.contactCard {
  width: 350px;
  height: 470px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  cursor: pointer;
}

.contactCardImg {
  width: 300px;
  height: 340px;
  object-fit: contain;
}

.contactCardTitle {
  color: $primary-color;
  font-size: 40px;
  padding: 0px 28px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
}

.customCard {
  width: 100%;
  max-width: 500px;
  
  img {
    max-width: 100%;
    height: auto;
  }
}

@media (min-width: 769px) {
  .bigContainer {
    width: 384px;
  }

  .bigContainer {
    width: 400px;
    padding: 64px 32px;
  }
}

@media (max-width: 768px) {
  .customCard {
    max-width: 100%;
  }
}