.number {
  width: 110px;
}

.input {
  width: 20%;
  min-width: 270px;
}

.filters {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.filters :global .fr-label {
  padding: 0 !important;
  &::before {
    margin-top: 0 !important;
  }
}