.number {
  width: 110px;
}

.input, .inputMd {
  width: 100%;
}

.filters {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  flex-direction: row;
}

.filters :global .fr-label {
  padding: 0 !important;
  &::before {
    margin-top: 0 !important;
  }
}

.userIcon {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.resultsCount {
  margin-top: 20px;
}

@media (min-width: 769px) {
  .input {
    width: 20%;
    min-width: 270px;
  }
  .inputMd {
    width: 25%;
    min-width: 300px;
  }
}