.table {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin: 32px 0 16px 0;
}

.columnBox,
.box {
  width: 100%;
  padding: 32px;
  border: solid 1px #E5E5E5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.columnBox {
  flex-direction: column;
  align-items: flex-start;
}

.userIcon {
  color: #929292;
}

.name {
  font-size: 20px;
  line-height: 28px;
}

.contactInfo,
.personnalInfo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.contactInfo {
  color: var(--text-title-blue-france);  
  span {
    cursor: pointer;
  }
}

.bigSeparator,
.separator {
  height: 16px;
  border-right: solid 1px #E5E5E5;
}

.bigSeparator {
  height: 56px;
}