.psyName {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 24px;
}

.psyInfo {
  gap: 16px 0px;
}

.field {
  padding: 8px 0px;
}

.fieldName {
  font-weight: bold;
}

.mapContainer {
  width: 100%;
}

.map {
  width: 100%;
  min-height: 500px;
}
