body {
    color :#133A8D;
}

.title {
    font-size: 29px;
}

.title:first-child {
    padding: 40px 0 0 0;
    margin: 0;
}

.sousTitre {
    font-size: 26px;
}

.liste {
    list-style-type: none;
}

.mail {
    margin: 0 0;
}