body {
    color :#133A8D;
}

.title {
    font-size: 29px;
}

.title:first-child {
    padding: 40px 0 0 0;
    margin: 0;
}

.title2 {
    font-size: 35px;
    margin: 0 0 5px;
}

.sousTitre {
    font-size: 26px;
    margin: 0 0;
}

.liste {
    list-style-type: none;
}

.mail {
    margin: 0 0;
}

.marginDiv {
    margin-bottom: 25px;
}