.container {
    color: #133A8D;
}

.title:first-child {
    padding: 40px 0 0 0;
    font-size: 28px;
}

.title {
    font-size: 28px;
    margin: 0;
}

.subtitle {
    font-size: 24px;
    margin: 0;
}

.list {
    list-style-type: none;
}

.sectionTitle {
    margin-bottom: 25px;
}

.hebergement {
    margin-bottom: 0;
    font-size: 24px;
}

li {
    padding-bottom: 0;
}

ul {
    padding: 0;
}
