name: Node.js CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x]
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Copy CI env file
      run: cp .env.ci .env
    - name: run DB
      run: docker compose -f docker-compose-only-db.yml up -d;
    - name: pnpm back install
      run: pnpm clean-install
    - name: pnpm front install and build
      run: pnpm run scalingo-prebuild
    - name: Back build
      run: pnpm run postbuild
    - name: Back linter
      run: pnpm run lint -- --quiet
    - name: EJS linter
      run: pnpm run ejslint -- --quiet
    - name: Front linter
      run: pnpm --prefix frontend run lint -- --quiet
    - name: Migrate DB
      run: pnpm run migrate
    - name: Seed DB
      run: pnpm run seed
    - name: Run unit tests
      run: pnpm run test:ci
      env:
        API_TOKEN: ${{ secrets.API_TOKEN }}
        DEMARCHES_SIMPLIFIEES_ID: ${{ secrets.DEMARCHES_SIMPLIFIEES_ID }}
    - name: Run app
      run: node dist/index.js &
    - name: Run integration tests
      run: pnpm --prefix frontend run cy:ci
    - name: Archive test results
      if: ${{ failure() }}
      uses: actions/upload-artifact@v4
      with:
        name: cypress
        retention-days: 1
        path: |
          frontend/cypress/screenshots
          frontend/cypress/videos
    - name: Stop DB
      run: docker compose down
      if: ${{ always() }}
