name: Node.js CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]
    steps:
    - uses: actions/checkout@v4
    # From pnpm documentation: https://pnpm.io/continuous-integration#github-actions
    - name: Install pnpm
      uses: pnpm/action-setup@v4
      with:
        version: 10
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: "pnpm"
    - name: Copy CI env file
      run: cp .env.ci .env
    - name: run DB
      run: docker compose -f docker-compose-only-db.yml up -d;
    - name: pnpm back install
      run: pnpm install --frozen-lockfile
    - name: rebuild dependencies
      run: pnpm rebuild
    - name: pnpm front install and build
      run: pnpm run scalingo-prebuild
    - name: Back build
      run: pnpm run postbuild
    - name: Back linter
      run: pnpm run lint -- --quiet
    - name: EJS linter
      run: pnpm run ejslint -- --quiet
    - name: Front linter
      run: pnpm --filter frontend run lint -- --quiet
    - name: Migrate DB
      run: pnpm run migrate
    - name: Seed DB
      run: pnpm run seed
    - name: Run unit tests
      run: pnpm run test:ci
      env:
        API_TOKEN: ${{ secrets.API_TOKEN }}
        DEMARCHES_SIMPLIFIEES_ID: ${{ secrets.DEMARCHES_SIMPLIFIEES_ID }}
    - name: Run app
      run: node dist/index.js &
    - name: Run integration tests
      run: pnpm --filter frontend run cy:ci
    - name: Archive test results
      if: ${{ failure() }}
      uses: actions/upload-artifact@v4
      with:
        name: cypress
        retention-days: 1
        path: |
          frontend/cypress/screenshots
          frontend/cypress/videos
    - name: Stop DB
      run: docker compose down
      if: ${{ always() }}
